---
layout: default
title: Posts
pagination: 
  enabled: true
---

<!-- paginated posts -->
{% for post in paginator.posts %}
<div id="intro-post">
  <a href="{{site.url}}{{site.baseurl}}{{post.url}}">
    <h3>{{post.title}}</h3>
  </a>
  <i>posted on {{ post.date | date: "%-d %b %Y" }} by Ahmad Shuami in </i>

  {% if post.categories.size > 0 %}
      {% for category in post.categories %}
        <a href="{{site.url}}{{site.baseurl}}/categories/{{category}}/">{{category}}</a>&nbsp;
      {% endfor %}
  {% endif %}

  <p>
    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content }}
    {% endif %}
  </p>
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
      </li>
      {% endif %}
  </ul>
{% endif %}

