<div id="nav-top">
    <div id="nav-menu-left">
        <a href="https://github.com/{{site.github_username}}" target="_blank">
            <svg class="svg-icon">
            <use xlink:href="/assets/images/minima-social-icons.svg#github"></use>
            </svg>
        </a>
        <a href="https://instagram.com/{{site.instagram_username}}" target="_blank">
            <svg class="svg-icon">
            <use xlink:href="/assets/images/minima-social-icons.svg#instagram"></use>
            </svg>
        </a>
        <a href="https://facebook.com/{{site.facebook_username}}" target="_blank">
            <svg class="svg-icon">
            <use xlink:href="/assets/images/minima-social-icons.svg#facebook"></use>
            </svg>
        </a>
        <a href="https://www.youtube.com/channel/{{site.youtube_username}}" target="_blank">
            <svg class="svg-icon">
            <use xlink:href="/assets/images/minima-social-icons.svg#youtube"></use>
            </svg>
        </a>
    </div>
    
    <div id="nav-menu-right">
        <div id="home-menu">
            <a href="{{site.url}}{{site.baseurl}}/">
                <img src="{{site.url}}{{site.baseurl}}/assets/images/home.png" alt="home">
            </a>
        </div> /
        <a href="{{site.url}}{{site.baseurl}}/project/">Project</a> /
        <a href="{{site.url}}{{site.baseurl}}/categories/">Category</a>
    </div>
</div>

<div id="nav" class="cat-menu">
    {% for category in site.categories %}
        <a href="{{site.url}}{{site.baseurl}}/categories/{{category | first}}/">{{category | first}}</a>&nbsp;
    {% endfor %}
</div>