#content-left {
  margin: auto;
  padding-top: 5px;
  margin-bottom: 20px;
  padding-bottom: 20px;

  a {
    &:link, &:visited {
      text-decoration: none;
      color: #0c61ac;
    }
  
    &:hover {
      text-decoration: none;
    }
  }

  .cust-code {
    font-size: 14px;
    background-color: #ececec;
    padding: 5px 10px;
    border-top: 3px double #000;
    border-radius: 5px;
    width: 100%;
  }

}
  
#content {
    text-align: center;
    margin: auto;
}