a {
  &:link, &:visited {
    text-decoration: none;
    color: #000;
  }

  &:hover {
    text-decoration: underline;
  }
}

#nav-top {
  margin: auto;
  margin-top: 15px;
  padding: 10px;
  margin-bottom: 5px;
  border: 3px double rgb(78, 78, 78);
}

#nav-main {
    text-align: center;
    margin: auto;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed rgb(51, 48, 48);
}

#nav {
  text-align: center;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 2px dashed rgb(51, 48, 48);
}

#nav a {
  background-color: #334646;
  padding: 2px 5px;
  border: 1px solid #000;
  border-radius: 5px;
  color: #fff;
}

#nav-menu-left {
  display: inline;
  a {
    &:link, &:visited {
      text-decoration: none;
      color: #000;
    }
  
    &:hover {
      text-decoration: none;
    }
  }
}

#nav-menu-right {
  float: right;
}

#logo {
  margin: 20px auto 20px auto;

  img {
      max-width: 20%;
  }
}

.cat-menu {
  font-size: 12px;
}

@media (max-width: 420px) {
  #nav-top {
    text-align: center;
  }

  #nav-menu-right {
    float: none;
    margin-top: 5px;
  }
}

@media (max-width: 600px) {
  #logo {
    img {
        max-width: 50%;
    }
  }
}

@media (max-width: 900px) {
  #logo {
    img {
        max-width: 30%;
    }
  }
}