body {
    margin-top: 0px;
    padding: 0;
    font-family: 'Ubuntu Mono', monospace;
}

#main {
    width: 70%;
    margin: 0 auto;
}

.svg-icon { width: 16px; height: 16px; display: inline-block; fill: #414141;}

img {
    &[src~="thumbnail"] {
        width: 400px;
        height: auto;
        display:block;
        margin: 0 auto;
    }
  
    &[src~="bordered"] {
        border: 1px solid black;
    }
}

#footer {
    text-align: center;
    margin: auto;
    font-size: 0.9em;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-top: 1px dotted #000;
}

.pagination {
    border: 1px dashed #000;
    padding: 5px 10px;
    background-color: #ddd;
    border-radius: 25px;
    font-size: 15px;
    margin-top: 10px;
    text-align: right;
}

@media (max-width: 600px) {
    img {
        &[src~="thumbnail"] {
            width: 250px;
            height: auto;
        }
    }
}